:root{
    --col_1: #576855;

    /* font */
    --font1: lulo-clean-w01-one-bold,sans-serif;
    --font2: baskervillemtw01-smbdit,serif;

    /* transision */
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family:'Roboto', sans-serif;
    /* position: relative; */
    
}

.box_bg_main{
    /* position: relative;
    width: 100%;
    min-height: 100vh; */
}

#video_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container_edit{
    /* margin-left: auto;
    margin-right: auto;
    width: calc(100% - 120px - 120px);
    min-width: 980px; */
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.container_new--edit{
    max-width:  1200px;
    width: 65%;
    margin: 0 auto;
}

/* grid 10px */

.box_grib--10{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.item_grib--10{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.item_grib--w3{
    width: 33.3333333%;
}

.item_grib--w4{
    width: 25%;
}

/* flex */

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}